.performance-radar {
    .recharts-wrapper {
        .recharts-surface {
            background-color: #282D30;
            border-radius: 5px;
            tspan {
                fill: white;
                font-size: 8px;
            }
        }
    }
}