#horizontal-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#horizontal-nav img {
  margin-left: 30px;
}
#horizontal-nav .nav-links {
  margin-right: 90px;
}
#horizontal-nav .nav-links .nav-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin-inline: 35px;
}

#vertical-nav {
  position: fixed;
  z-index: 1000;
  width: 90px;
  height: calc(100vh - 90px);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#vertical-nav .categories {
  position: absolute;
  top: calc(50% - 203px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#vertical-nav .categories img {
  margin-bottom: 20px;
  max-width: 65px;
}
#vertical-nav .categories img:last-child {
  margin-bottom: 0;
}
#vertical-nav .copyright {
  color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  transform: rotate(-90deg);
  min-width: 160px;
  position: relative;
  bottom: 95px;
}

.daily-activity {
  margin-bottom: 30px;
  background: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  padding: 25px 30px 5px 30px;
}
.daily-activity .recharts-wrapper {
  left: -20px;
  padding: 10px;
}

.average-session {
  /*     * {
          color: #FFFFFF;        
          stroke: #FFFFFF;
          font-weight: normal;
      } */
}
.average-session .recharts-wrapper .recharts-surface {
  background-color: #FF0000;
  border-radius: 5px;
}
.average-session .recharts-wrapper .recharts-surface line {
  stroke: none;
}
.average-session .recharts-wrapper .recharts-surface tspan {
  font-size: 12px;
  line-height: 24px;
  stroke: none;
  fill: #FFFFFF;
  opacity: 0.5;
}
.average-session .recharts-wrapper > p {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  line-height: 14px;
  padding-right: 15px;
  color: #FFFFFF;
  opacity: 0.5;
}

.key-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-width: 180px;
  max-width: 180px;
  background: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.key-data:last-child {
  margin-bottom: 0px;
}
.key-data .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 6px;
}
.key-data .icon-wrapper.proteinCount {
  background: rgba(74, 184, 255, 0.1);
}
.key-data .icon-wrapper.carbohydrateCount {
  background: rgba(249, 206, 35, 0.1);
}
.key-data .icon-wrapper.lipidCount {
  background: rgba(253, 81, 129, 0.1);
}
.key-data .text-wrapper {
  margin-left: 15px;
}
.key-data .text-wrapper p {
  word-break: break-all;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #282D30;
}
.key-data .text-wrapper p:last-child {
  color: #74798C;
  font-size: 16px;
  font-weight: 400;
}

.performance-radar .recharts-wrapper .recharts-surface {
  background-color: #282D30;
  border-radius: 5px;
}
.performance-radar .recharts-wrapper .recharts-surface tspan {
  fill: white;
  font-size: 8px;
}

.objectif-pie .recharts-wrapper .recharts-surface {
  background-color: #FBFBFB;
  position: relative;
}
.objectif-pie .recharts-wrapper > .pie-graph-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  color: #20253A;
}
.objectif-pie .recharts-wrapper > .pie-graph-legend {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  padding: 48px 35px;
  color: #74798C;
  font-weight: 500;
}
.objectif-pie .recharts-wrapper > .pie-graph-legend span {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: #282D30;
  margin-bottom: 5px;
}

#app-wrapper > .page-content {
  position: relative;
  top: 90px;
  width: 735px;
  max-width: 735px;
  height: calc(100% - 90px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-left: 90px;
  padding-bottom: 70px;
}
#app-wrapper > .page-content h1 {
  width: 100%;
  margin-top: 68px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}
#app-wrapper > .page-content h1 span {
  color: #FF0101;
}
#app-wrapper > .page-content > p {
  width: 100%;
  font-size: 18px;
  margin: 0;
}
#app-wrapper > .page-content > #left-part {
  width: 525px;
  max-width: 525px;
}
#app-wrapper > .page-content > #left-part .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
#app-wrapper > .page-content > #right-part {
  width: 180px;
  max-width: 180px;
}
#app-wrapper > .page-content #left-part,
#app-wrapper > .page-content #right-part {
  margin-top: 70px;
}

* {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
