@import "./components/_HorizontalBanner";
@import "./components/_VerticalBanner";

* {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}